<!doctype html>
<html lang="{{site.language_attributes}}">
    <head>
        <title>
            {% if wp_title %}
                {{ wp_title }} – {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta charset="{{site.charset}}" />
        <meta name="description" content="{{site.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
          (function(d) {
            var config = {
              kitId: 'zqu2ehw',
              scriptTimeout: 3000
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>

        <link rel="stylesheet" href="{{site.theme.link}}/css/main.css">
        {{function('wp_head')}}
    </head>
    <body>

    <header class="header">
        <div class="container">
            <h1 class="header__logo">
                <a href="/">
                    {{site.name}}
                </a>
            </h1>

            <nav class="main-nav">
                <a href="/about">About</a>
                <a href="/">All Trips</a>
            </nav>
        </div>
    </header>

    <main id="content" role="main">
        {% if title %}
        <h1>{{title}}</h1>
        {% endif %}
        <section>
            {% block content %}
            <p>Sorry, no content</p>
            {% endblock %}
        </section>
    </main>


    <footer class="footer">
        <section class="footer__legal">
            <div class="container">
                <p class="footer__logo">
                    <a href="/">{{ site.name }}</a>
                </p>
                <p>Copyright &copy; {{ "now" | date("Y") }}.</p>
            </div>
        </section>
    </footer>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36326859-3', 'auto');
        ga('send', 'pageview');
    </script>

    {{ function('wp_footer') }}

    </body>
</html>



