{% extends "base.twig" %}

{% block content %}
    <article class="trip" id="post-{{post.ID}}">
        <section>
            <header class="trip__header">
                <p class="trip__featured-image">
                    <img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}">
                </p>
                <h2 class="trip__country">{{ post.get_terms('country') | join }}</h2>
                <h1 class="trip__location">{{post.title}}</h1>
                <p class="trip__date">
                    {{post.get_field('from') | date("jS F Y")}} &mdash; {{post.get_field('to') | date("jS F Y")}}
                </p>
                <p class="trip__strapline">{{post.get_field('strapline')}}</p>
            </header>

            <div class="trip__content">
                {{post.content}}

            </div>
            <footer>
                <div class="trip__footer">
                    <div class="g">
                        {% if post.next %}
                        <div class="gi">
                            <div class="trip-meta">
                                <a href="{{post.next.link}}">
                                    <h3 class="trip-meta__title">Next</h3>
                                    <img class="trip-meta__image" src="{{post.next.thumbnail.src}}" alt="{{post.next.thumbnail.alt}}">
                                    <div class="trip-meta__box">
                                        <div class="trip-meta--info">
                                            <div class="trip-meta__country">{{ post.next.get_terms('country') | join }}</div>
                                            <div class="trip-meta__location">{{post.next.title}}</div>
                                        </div>
                                    </div>
                                    <p class="trip-meta__date">{{post.next.get_field('from') | date("jS F Y")}} &mdash; {{post.next.get_field('to') | date("jS F Y")}}</p>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if post.prev %}
                        <div class="gi">
                            <div class="trip-meta">
                                <a href="{{post.prev.link}}">
                                    <h3 class="trip-meta__title">Previous</h3>
                                    <img class="trip-meta__image" src="{{post.prev.thumbnail.src}}" alt="{{post.prev.thumbnail.alt}}">
                                    <div class="trip-meta__box">
                                        <div class="trip-meta--info">
                                            <div class="trip-meta__country">{{ post.prev.get_terms('country') | join }}</div>
                                            <div class="trip-meta__location">{{post.prev.title}}</div>
                                        </div>
                                    </div>
                                    <p class="trip-meta__date">{{post.prev.get_field('from') | date("jS F Y")}} &mdash; {{post.prev.get_field('to') | date("jS F Y")}}</p>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <p class="text-center">
                        <a href="/" class="btn">View all trips</a>
                    </p>
                </div>
            </footer>
        </section>
    </article>
{% endblock %}