<article class="trip-teaser">
    <a href="{{post.link}}">
        <p class="trip-teaser__image">
            <img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}">
        </p>
        <h2 class="trip-teaser__location">{{post.title}}</h2>
        <h3 class="trip-teaser__country">{{ post.get_terms('country') | join }}</h3>
        <p class="trip-teaser__date">
            {{post.get_field('from') | date("jS M Y")}} – {{post.get_field('to') | date("jS M Y")}}
        </p>
        <p class="trip-teaser__strapline">{{post.get_field('strapline')}}</p>
    </a>
</article>